.align-items-center {
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  width: 50%;
  align-content: center;
  display: flex;
  justify-content: center !important;
}

.container {
    font-size: 2vh;
    padding: 0px !important;
}
.h2 {
  font-size: 1vh;
}

.btn-primary {
  margin-top: 1em;
}

a {
  text-decoration: none !important;
}

.nav {
  margin-top: 1em !important;
}

label {
  font-size: 2vh;
}